<h1>Localizador de Amigos</h1>
<p>Seja bem vindo, esta e uma aplicacao de teste feito com:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> e <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> para cross-platform server-side</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> para client-side</li>
    <li><a href='https://webpack.github.io/'>Webpack</a> para construcao dos recursos do client-side</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> para layout e estilos </li>
</ul>
<p>Esta aplicacao serve para cadastrar pessoas com suas localizacoes e obter as tres pessoas mais proximas.</p>

